Repository SOPT-33th-JointSeminar-3/Client-Web, pull requests merged in 2023-12, with the labels that each got.

#59 [MainPage] 출발지, 도착지 swap 기능 구현
  korean-air/src/components/mainPage/Booking.tsx
Labels: 🏠Home, ▶️Feature

#63 [Main page] 프로모션 카드 스크롤 부드럽게 변경
  korean-air/src/components/mainPage/Promotion.tsx
Labels: 🏠Home, 🎨Design

#64 [MainPage] 항공편 검색 클릭 시 FlightPage로 이동
  korean-air/src/components/mainPage/Booking.tsx
Labels: 🏠Home, ▶️Feature

#66 [Main page] 자잘한 수정사항 반영
  korean-air/src/components/mainPage/Booking.tsx
  korean-air/src/components/mainPage/Notice.tsx
  korean-air/src/components/mainPage/Promotion.tsx
  korean-air/src/components/searchPage/History.tsx
  korean-air/src/recoil/atom.ts
Labels: 🏠Home, ▶️Feature

#70 [Payment] 승객 선택 부분 삭제 및 날짜 변경
  korean-air/src/components/paymentPage/CardPersonal.tsx
  korean-air/src/components/paymentPage/Journey.tsx
Labels: 💰Payment, 🎨Design

#72 [Payment] input 태그 이용해서 사용자가 입력한 값을 받고 그 데이터로 서버와 통신
  korean-air/src/api/getReserve.ts
  korean-air/src/assets/index.ts
  korean-air/src/components/@common/Footer.tsx
  korean-air/src/components/paymentPage/CardPersonal.tsx
  korean-air/src/components/paymentPage/Journey.tsx
  korean-air/src/pages/PaymentPage.tsx
  korean-air/src/styles/theme.ts
Labels: 💰Payment, 📟API, ⚒️Fix, ▶️Feature

#76 [MainPage] swap 클릭시 도시까지 바뀌도록 수정
  korean-air/src/components/mainPage/Booking.tsx
  korean-air/src/components/searchPage/History.tsx
Labels: 🏠Home, ⚒️Fix

#81 [FlightInfo] data 뿌리기 & 카드 각각 선택 & 선택된 가격 footer에 반영
  korean-air/src/api/getFlightInfo.ts
  korean-air/src/assets/icon/payment_checkbox_grey.svg
  korean-air/src/components/flightInfoPage/FlightCard.tsx
  korean-air/src/components/flightInfoPage/FlightCardGroup.tsx
  korean-air/src/components/flightInfoPage/Footer.tsx
  korean-air/src/components/flightInfoPage/Navbar.tsx
  korean-air/src/components/paymentPage/Navbar.tsx
  korean-air/src/pages/FlightInfoPage.tsx
  korean-air/src/pages/PaymentPage.tsx
  korean-air/src/types/types.ts
Labels: ✈️Flight, 🎨Design, 📟API, ▶️Feature

#83 [FIX] FlightPage CSS 및 기능 최종 수정
  korean-air/src/components/@common/FlightLayout.tsx
  korean-air/src/components/flightInfoPage/FlightCard.tsx
  korean-air/src/components/flightInfoPage/FlightCardGroup.tsx
  korean-air/src/components/flightInfoPage/FlightDate.tsx
  korean-air/src/components/flightInfoPage/Footer.tsx
  korean-air/src/components/flightInfoPage/LowestContainer.tsx
  korean-air/src/components/flightInfoPage/Navbar.tsx
  korean-air/src/pages/FlightInfoPage.tsx
Labels: ✈️Flight, 🎨Design

#84 [Fix] PaymentPage 최종 정리
  korean-air/src/components/@common/Footer.tsx
  korean-air/src/components/paymentPage/CardPersonal.tsx
  korean-air/src/components/paymentPage/IconLayout.tsx
  korean-air/src/components/paymentPage/Journey.tsx
  korean-air/src/components/paymentPage/Navbar.tsx
  korean-air/src/pages/FinishPage.tsx
  korean-air/src/pages/PaymentPage.tsx
Labels: 💰Payment, ☑️Finish, 🎨Design, ▶️Feature
