Repository SOPT-33th-JointSeminar-3/Client-Web, pull requests merged in 2023-11, with the labels that each got.

#16 [ Common ] 공통으로 사용되는 Header 제작
  korean-air/src/Router.tsx
  korean-air/src/assets/icon/ic_menu_header.svg
  korean-air/src/assets/icon/ic_search_header.svg
  korean-air/src/assets/image/img_logo.png
  korean-air/src/assets/index.ts
  korean-air/src/components/@common/Header.tsx
  korean-air/src/components/@common/intex.ts
  korean-air/src/styles/GlobalStyle.ts
Labels: 🏠Home, ✈️Flight, 💰Payment, 🎨Design

#19 [ FinishPage ] UI 구현 완료
  korean-air/src/Router.tsx
  korean-air/src/assets/icon/ic_check_finish.svg
  korean-air/src/assets/icon/ic_close_small.svg
  korean-air/src/assets/index.ts
  korean-air/src/components/finishPage/index.ts
  korean-air/src/pages/FinishPage.tsx
  korean-air/src/styles/theme.ts
Labels: ☑️Finish, 🎨Design

#17 [payment] ui 40% 구현
  korean-air/src/Router.tsx
  korean-air/src/assets/custom.d.ts
  korean-air/src/assets/icon/ic_down_payment.svg
  korean-air/src/assets/icon/ic_payment__share.svg
  korean-air/src/assets/icon/ic_payment_plane.svg
  korean-air/src/assets/icon/ic_payment_save.svg
  korean-air/src/assets/icon/ic_payment_shotarrow.svg
  korean-air/src/assets/icon/logo_jinair.svg
  korean-air/src/assets/image/background_payment.png
  korean-air/src/assets/index.ts
  korean-air/src/components/@common/FlightLayout.tsx
  korean-air/src/components/paymentPage/IconLayout.tsx
  korean-air/src/components/paymentPage/Journey.tsx
  korean-air/src/components/paymentPage/PaymentInfo.tsx
  korean-air/src/pages/PaymentPage.tsx
Labels: 💰Payment, 🎨Design

#26 [Main page] scroll 구현
  korean-air/src/Router.tsx
  korean-air/src/assets/index.ts
  korean-air/src/components/mainPage/Promotion.tsx
  korean-air/src/components/mainPage/Service.tsx
  korean-air/src/components/mainPage/ServiceCard.tsx
  korean-air/src/pages/MainPage.tsx
Labels: 🏠Home, 🎨Design

#28 [Search page] UI 구현
  korean-air/src/Router.tsx
  korean-air/src/assets/icon/ic_close_small_recnt.svg
  korean-air/src/assets/icon/ic_close_verysmall.svg
  korean-air/src/assets/icon/ic_down_search.svg
  korean-air/src/assets/icon/ic_pin.svg
  korean-air/src/assets/icon/ic_search_searcharea.svg
  korean-air/src/assets/index.ts
  korean-air/src/components/mainPage/Booking.tsx
  korean-air/src/components/searchPage/Category.tsx
  korean-air/src/components/searchPage/History.tsx
  korean-air/src/components/searchPage/Result.tsx
  korean-air/src/components/searchPage/SearchBar.tsx
  korean-air/src/components/searchPage/SearchHeader.tsx
  korean-air/src/pages/SearchPage.tsx
Labels: 🔎Search, 🎨Design

#34 [ Calendar ] 캘린더 구현을 위한 기본 구조 잡기
  korean-air/src/Router.tsx
  korean-air/src/assets/icon/ic_radio_empty.svg
  korean-air/src/assets/icon/ic_radio_full.svg
  korean-air/src/assets/index.ts
  korean-air/src/components/calendar/CalContainer.tsx
  korean-air/src/components/calendar/CalFooter.tsx
  korean-air/src/components/calendar/CalHeader.tsx
  korean-air/src/components/calendar/index.ts
  korean-air/src/constants/constant.ts
  korean-air/src/main.tsx
  korean-air/src/pages/CalendarPage.tsx
Labels: 🗓️Calendar, 🎨Design, ▶️Feature

#35 [Payment page] 전체 ui 구현
  korean-air/src/assets/icon/Ellipse.svg
  korean-air/src/assets/icon/arrow-up.svg
  korean-air/src/assets/icon/chevron-down.svg
  korean-air/src/assets/icon/ic_check_payment.svg
  korean-air/src/assets/icon/ic_right_nameinfo.svg
  korean-air/src/assets/icon/ic_right_payment.svg
  korean-air/src/assets/icon/ic_up_payment.svg
  korean-air/src/assets/icon/payment_checkbox.svg
  korean-air/src/assets/index.ts
  korean-air/src/components/@common/FlightLayout.tsx
  korean-air/src/components/@common/Footer.tsx
  korean-air/src/components/paymentPage/CardPersonal.tsx
  korean-air/src/components/paymentPage/Journey.tsx
  korean-air/src/components/paymentPage/UserInfo.tsx
  korean-air/src/pages/PaymentPage.tsx
  korean-air/src/styles/theme.ts
Labels: 💰Payment, 🎨Design

#42 [Common] recoil 적용
  korean-air/package.json
  korean-air/src/App.tsx
  korean-air/src/assets/icon/ic_swap_blue.svg
  korean-air/src/assets/index.ts
  korean-air/src/components/mainPage/Booking.tsx
  korean-air/src/components/searchPage/History.tsx
  korean-air/src/recoil/atom.ts
  korean-air/yarn.lock
Labels: 🏠Home, 🔎Search, ▶️Feature

#38 [FlightInfo] 전체 ui 구현 & 버튼 클릭 시 유의 사항 상태 변화
  chevron-right.svg
  korean-air/src/Router.tsx
  korean-air/src/assets/icon/chevron-right.svg
  korean-air/src/assets/icon/flight_btn_filter.svg
  korean-air/src/assets/icon/ic_change_flight.svg
  korean-air/src/assets/icon/ic_conditionarrow.svg
  korean-air/src/assets/icon/ic_left_flight.svg
  korean-air/src/assets/icon/ic_refund_flight.svg
  korean-air/src/assets/icon/ic_right_flight.svg
  korean-air/src/assets/icon/ic_shortinfo_flgiht.svg
  korean-air/src/assets/index.ts
  korean-air/src/components/@common/FlightLayout.tsx
  korean-air/src/components/flightInfoPage/FlightCard.tsx
  korean-air/src/components/flightInfoPage/FlightCardGroup.tsx
  korean-air/src/components/flightInfoPage/FlightDate.tsx
  korean-air/src/components/flightInfoPage/Footer.tsx
  korean-air/src/components/flightInfoPage/LowestContainer.tsx
  korean-air/src/pages/FlightInfoPage.tsx
Labels: ✈️Flight, 🎨Design, ▶️Feature

#43 [MainPage] 게시물 불러오기 api
  korean-air/src/api/axiosInstance.ts
  korean-air/src/api/getHomePosts.ts
  korean-air/src/components/mainPage/Notice.tsx
  korean-air/src/constants/constant.ts
  korean-air/src/main.tsx
Labels: 🏠Home, 📟API

#49 [payment] api 함수 호출 및 상위 컴포넌트에서 데이터 패칭
  korean-air/src/api/getReserve.ts
  korean-air/src/pages/PaymentPage.tsx
Labels: 💰Payment, 📟API

#50 [FlightInfo] api 연동
  korean-air/.gitignore
  korean-air/package.json
  korean-air/src/App.tsx
  korean-air/src/api/axiosInstance.ts
  korean-air/src/api/getFlightInfo.ts
  korean-air/src/api/getHomePosts.ts
  korean-air/src/assets/icon/ic_swap_blue.svg
  korean-air/src/assets/index.ts
  korean-air/src/components/mainPage/Booking.tsx
  korean-air/src/components/mainPage/Notice.tsx
  korean-air/src/components/searchPage/History.tsx
  korean-air/src/constants/constant.ts
  korean-air/src/main.tsx
  korean-air/src/pages/FlightInfoPage.tsx
  korean-air/src/recoil/atom.ts
  korean-air/yarn.lock
Labels: ✈️Flight, 📟API

#48 [SearchPage] 검색 api 연결
  korean-air/src/api/getSearchAirport.ts
  korean-air/src/components/searchPage/Result.tsx
  korean-air/src/components/searchPage/SearchBar.tsx
  korean-air/src/pages/SearchPage.tsx
Labels: 🔎Search, 📟API

#52 [ Calendar ] MainPage와의 연결
  korean-air/src/components/calendar/CalFooter.tsx
  korean-air/src/components/mainPage/Booking.tsx
  korean-air/src/pages/MainPage.tsx
Labels: 🗓️Calendar, 🎨Design, ▶️Feature
